*{
    margin: 0;
    padding: 0;
}

.navbar .nav-item .active{
    border-radius: 18px;
    background-color: rgb(35, 39, 59);
}

.navbar{
    background-color: rgb(49, 54, 85);
}

.navbar .navbar-brand{
    color: white;
    font-weight: 300;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: white;
    font-weight: 300;
}

.section-one{
    border-radius: none;
    background-color: rgb(187, 187, 187);
}


.section-one .head button{
    background-color: rgb(167, 166, 166);
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

.section-one button{
    text-align: left;;
}

.section-one .nav .nav-link:hover{
    background-color: white;
}
.section-one .nav .active:hover{
    background-color: white;
    color: blue;
}


.section-one button span{
    font-size: 12px;
    padding-left: 20px;
    text-align: left;
    color: red;
}

.section-one .head button i{
    color: rgb(102, 100, 100);
}

.section-one .head h3{
    color: rgb(11, 11, 167);
    font-weight: 400;
    justify-content: center;
}
.section-one button img{
    width: 30px;
}

.main-container{
    border: 1px solid rgb(192, 185, 185);
    padding: 20px;
    border-bottom: none;
    border-radius: 10px;
    height: 88vh;

}
.head-img span img{
    width: 80px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: gray;
}

.head-img h1{
    color: rgb(11, 11, 167);
    font-weight: 400;
}

.head-img img{
    width: 30px;
}

.popover {
    background-color: #ffcc00; /* Change this to your desired color */
    color: #000; /* Change text color if needed */
  }

.message-section .buttons{
    background-color: rgb(185, 184, 184);
    border: 1px solid rgb(179, 178, 178);
    border-radius: 12px;
}

.message-section .buttons span{
    padding: 0px 40px;
    color: rgb(94, 93, 93);
}

.message-section .buttons .main-span{
    border: 1px solid rgb(153, 149, 149);
}


.message-section .button-four button{
    background-color: rgb(185, 184, 184);
    border-radius: 4px;
    border: none;
    font-size: 15px;
}
.message-section .button-four button i{
    color: gray;
}

.table-section thead{
    background-color: rgb(49, 54, 85);
}

.table-section .main-heading{
    color: white;
    font-weight: 100;
    border: none;
}


.table-section thead .first-row{
    border: none;
}

.table-section thead tr td{
    color: rgb(211, 210, 210);
}

.button-plus{
    border-radius: 8px;
}

.col-two{
    color: rgb(221, 47, 47); 
}

.col-four{
    color: green;
}

@media only screen and (max-width: 600px) {

        .message-section .buttons{
            background-color: rgb(185, 184, 184);
            border: 1px solid rgb(179, 178, 178);
            border-radius: 12px;
            display: flex;
            flex-direction: column;
           
        }
        
        .message-section .buttons span{
            margin-top: 2px;
            padding: 0px 10px;
            color: rgb(94, 93, 93);
        }
        
        .message-section .buttons .main-span{
            border: 1px solid rgb(153, 149, 149);
        }
        
        
        .message-section .button-four button{
            background-color: rgb(185, 184, 184);
            border-radius: 4px;
            border: none;
            font-size: 15px;
            margin-top: 20px;
        }
        .head-img span img{
            width: 40px;
            border: 1px solid gray;
            border-radius: 4px;
            background-color: gray;
        }

        .head-img h1{
            color: rgb(11, 11, 167);
            font-weight: 400;
            font-size: 20px;
        }
        .table-section .main-heading{
            color: white;
            font-weight: 100;
            font-size: 14px;
            width: 100px;
            border: none;
        }
        table{
            padding: none;
        }

        *{
            margin: 0;
            padding: 0;
        }
        
    }
